.container {
  width: 100%;
  height: 100vh;
  background-color: rgb(38, 126, 167);
}

.navbar {
  width: 100%;
  height: 10vh;

  .logo {
    padding: 2%;
    font-weight: bold;
    color: white;
  }
}

.heroContent {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60vh;

  .weatherTodayGroup {
    padding: 2%;
    width: 60%;
    margin-top: 2%;

    .date {
      font-size: 32px;
      font-weight: lighter;
      color: white;
    }

    .location {
      font-size: 48px;
      color: white;
      font-weight: 300;

      span {
        font-size: larger;
        color: white;
        cursor: pointer;
      }
    }

    #condition {
      font-size: 32px;
      color: white;
      font-weight: 300;
      margin-top: 5%;
    }

    .weatherDetailGroup {
      display: flex;
      flex-direction: row;
      margin-top: 2%;

      .iconGroup {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 1%;
        width: 40%;
  
        img {
          width: 100px;
          height: 100px;
          margin-right: 2%;
        }
  
        p {
          font-size: 72px;
          font-weight: bold;
          color: white; 
        }
      }

      .table {
        width: 30%;

        tr {
          display: flex;
          border-bottom-width: 2px;
          justify-content: space-between;
  
          td {
            font-size: 20px;
            color: white;
            font-weight: 300;
          }
        }

        :nth-child(2) {
        font-weight: 500;
        }
      }
    }
  } 
}

.forecastGroup {
  width: 100%;
  height: 30vh;
  background-color: white;
  
  .title {
    padding: 2%;
    font-size: 32px;
    font-weight: lighter;
    color: black;
  }

  .forecastTable {
    display: flex;
    flex-direction: row;
    height: 60%;
    padding-left: 2%;

    .forecastCard {
      height: 100%;
      width: 15%;
      margin-right: 1%;

      p {
        font-size: 20px;
        font-weight: lighter;
        color: black;
        margin-bottom: 2%;
      }
    }

    .iconGroup {
      display: flex;
      flex-direction: row;
      align-items: center;

      p {
        font-size: 32px;
        font-weight: 400;
      }
    }
  }
}

// iPhone 5, 5C, 5SE
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {

    .heroContent {
      .weatherTodayGroup {
        width: 100%;
        .location {
          font-size: 30px;
        }

        .weatherDetailGroup {
          display: flex;
          flex-direction: column;
          
          .iconGroup {

          }

          .table {
            width: 100%;
          }
        }
      }
    }

    .forecastGroup {
      .forecastTable {
        display: grid;
        grid-template-columns: repeat(2, auto);
        width: 100%;
        height: auto;
        .forecastCard {
          width: auto;
        }
      }
    }
  }

  // Samsung Galaxy S8+
  @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 750px) 
  and (-webkit-min-device-pixel-ratio: 2) {

    .heroContent {
      .weatherTodayGroup {
        width: 100%;
        .location {
          font-size: 30px;
        }

        .weatherDetailGroup {
          display: flex;
          flex-direction: column;
          
          .iconGroup {

          }

          .table {
            width: 100%;
          }
        }
      }
    }

    .forecastGroup {
      .forecastTable {
        display: grid;
        grid-template-columns: repeat(2, auto);
        width: 100%;
        height: auto;
        .forecastCard {
          width: auto;
        }
      }
    }
  }

// iPhone 6, 7 ,8
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {

    .heroContent {
      height: 60vh;
      .weatherTodayGroup {
        width: 100%;
        .location {
          font-size: 44px;
        }

        .weatherDetailGroup {
          display: flex;
          flex-direction: column;
          
          .iconGroup {

          }

          .table {
            width: 100%;
          }
        }
      }
    }

    .forecastGroup {
      .forecastTable {
        display: grid;
        grid-template-columns: repeat(2, auto);
        width: 100%;
        height: auto;
        .forecastCard {
          width: auto;
        }
      }
    }
  }

// iPhone 12, 13, 12 Pro, 13 Pro
@media only screen 
and (device-width: 390px) 
and (device-height: 844px) 
and (-webkit-device-pixel-ratio: 3) { 

      .heroContent {
        height: 60vh;
        .weatherTodayGroup {
          width: 100%;
          .location {
            font-size: 44px;
          }

          .weatherDetailGroup {
            display: flex;
            flex-direction: column;
            
            .iconGroup {

            }

            .table {
              width: 100%;
            }
          }
        }
      }

      .forecastGroup {
        .forecastTable {
          display: grid;
          grid-template-columns: repeat(2, auto);
          width: 100%;
          height: auto;
          .forecastCard {
            width: auto;
          }
        }
      }
  }